{% extends 'base.html' %}

{% block content %}
<h2>Forum</h2>

{{ myFilter }}
<header class="navbar" style="margin-bottom: 2em;">
  <section class="navbar-section">
    <a href="{% url 'articles:article-create' %}" style="text-decoration: none;">
      <div class="tile tile-centered">
        <div class="tile-icon">
          <i class="icon icon-plus centered"></i>
        </div>
        <div class="tile-content">
          <div class="tile-title pt-1">Dodaj post</div>
        </div>
      </div>
    </a>
  </section>
  <section class="navbar-section">
    <form class="input-group input-inline" method="GET">
      <input  class="form-input" type="text" name="title_search" id="id_title_search" placeholder="wyszukaj tytuł">
      <button class="btn btn-primary input-group-btn" type="submit">Search</button>
    </form>
  </section>
</header>
{% for article in object_list %}
<a href="{% url 'articles:article-detail' article.id %}" style="text-decoration: none;">
<div class="tile forum-tile" id="tile_">
  <div class="tile-icon">
    <div class="example-tile-icon">
      <i class="icon icon-bookmark centered"></i>
    </div>
  </div>
  <div class="tile-content">
    <p class="tile-title text-dark">{{ article.title }}</p>
    <p class="tile-subtitle text-gray">{{ article.snippet }}</p>
  </div>
  <div class="tile-action text-tiny text-gray">
    {{ article.publication_datetime }}
  </div>
</div>
</a>
{% endfor %}
{% endblock %}

 