{% extends 'base.html' %}

{% block content %}
<h2>Finanse</h2>

Stawka: {{ request.user.profile.rate }}

{% for instance in object_list %}

    <table class="table table-hover">

        <thead>
            <th>Miesiąc</th>
            <th>Godziny</th>
            <th>Pieniążki</th>
        </thead>
        <tbody>
            <th class="table-font">{{ instance.get_month_str }}</th>
            <th class="table-font">{{ instance.month_hours }} h</th>
            <th class="table-font">{{ instance.month_salary|floatformat:2 }} PLN</th>
        </tbody>
    
    </table>
{% endfor %}
{% endblock %}