{% extends 'base.html' %}

{% block content %}
<h2>Moja strona</h2>
<div class="container bg-gray p-2">
    <div class="columns">
        <div class="column col-5 col-lg-12 mx-2">
            <p style="margin-top: 15px; text-align: center;">
                <a href="{% url 'articles:login-button'%}">
                    {% if not login_status %}
                    <button class="btn ml-2" style="width: 10rem; height: 4rem;">Log in</button>
                    {% endif %}
                </a>
                <a href="{% url 'articles:logout-button'%}">
                    {% if login_status %}
                    <button class="btn" style="width: 10rem; height: 4rem;">Log out</button>
                    {% endif %}
                </a>
            </p>
        </div>
        <div class="column col-6 col-lg-12 col-ml-auto mt-2">
            <p class="tile-title" style="margin-top: 1rem;"><b>{{ user.username }}</b></p>
            <p class="tile-subtitle">{{ user.email }}</p>
        </div>
        <div class="column col-6 col-ml-auto mt-2">
            <form method="POST" class="form-group" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input class="btn btn-primary" type="submit" name="Update">
            </form>
        </div>
    </div>

</div>

{% endblock %}

 