{% extends 'base.html' %}

{% block content %}
<div class="tile bg-gray p-2" style="margin-top: 25px;">
    <div class="tile-icon">
        <figure class="avatar avatar-size">
            <img class="icon icon-file" src="{{ user.profile.image.url }}" />
        </figure>
        <p style="margin-top: 15px; text-align: center;">
            <a href="/articles/login_button/{{ user.id }}">
                {% if not login_status %}
                <button class="btn btn-lg">Log in</button>
                {% endif %}
            </a>
            <a href="/articles/logout_button/{{ user.id }}">
                {% if login_status %}
                <button class="btn btn-lg">Log out</button>
                {% endif %}
            </a>
        </p>
    </div>
    <div class="tile-content">
        <p class="tile-title"><b>{{ user.username }}</b></p>
        <p class="tile-subtitle">{{ user.email }}</p>
    </div>
</div>
{% endblock %}

 