{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %}
        <title>My Site</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'articles/css/spectre.css' %}">
        <link rel="stylesheet" href="{% static 'articles/css/spectre-exp.css' %}">
        <link rel="stylesheet" href="{% static 'articles/css/spectre-icons.css' %}">
        <link rel="stylesheet" href="{% static 'articles/css/style.css' %}">
    </head>

    <body>
        <div class="off-canvas off-canvas-sidebar-show body">
            <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
                <i class="icon icon-menu"></i>
            </a>
            <div id="sidebar-id" class="off-canvas-sidebar navbar-body">
                <div class="navbar-header">
                    <h1>Tortura</h1>
                    <figure class="avatar avatar-size">
                        <img class="icon icon-file" src="{{ user.profile.image.url }}" />
                    </figure>
                </div>
                <div class="navbar-menu mt-2">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="{% url 'articles:my-site' %}">
                                <i class="icon icon-people"></i>
                                Moja strona
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'articles:hours' %}">
                                <i class="icon icon-time"></i>
                                Godziny
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'articles:finance' %}">
                                <i class="icon icon-link"></i>
                                Finanse
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'articles:schedule' %}">
                                <i class="icon icon-edit"></i>
                                Grafik
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'articles:home' %}">
                                <i class="icon icon-message"></i>
                                Forum
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <a class="off-canvas-overlay" href="#close"></a>
            <div class="off-canvas-content">
                <header>
                    
                    <div class="top">
                        <span id="" style="color: red;">
                        </span>
                        <span>Siema, {{ request.user }}</span>
                        <span style="margin-left: 5px">
                            <a class="btn btn-sm" href="{% url 'logout' %}"> logout </a>
                        </span>
                    </div>
                    <div>
                        <span></span>
                    </div>
                </header>
                <div class="off-canvas content-overflow" style="margin-top: 20px;">                    
                    <div class="container col-10 col-md-11" style="margin-left: 5px;">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="container text-center mt-1 label label-{{ message.tags }}  text-large m-2">
                                    <span class="">{{ message }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% block content %}
                        
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% if page_obj %}
            {% if page_obj.number == 1 and not day.salary %}
                <script src="{% static 'articles/jquery.js' %}"></script>
                <script src="{% static 'articles/main.js' %}"></script>
                <script>

                $(document).ready(() => {
                    var interval = 1000;
                    var el = $("#timer");
                    var salary = $("#salary_counter");

                    function doAjax() {
                        $.ajax(
                            {
                                url: "{% url 'articles:get-time' %}",
                                dataType: 'json',
                                success: function (response) {
                                    el.html(response.time);
                                    salary.html(response.salary)
                                    console.log(`RESPONSE ${response}`)
                                    setTimeout(doAjax, interval);
                                }
                            }
                    );
                    
                    }
                    setTimeout(doAjax, interval);
                })
                </script>
            {% endif %}
        {% endif %}
    </body>
</html>