{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'articles/css/spectre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'articles/css/spectre-exp.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'articles/css/spectre-icons.css' %}">
    </head>
    <body>
        <header class="bg-secondary">
            <div style="text-align: right;">
                <a href="{% url 'login' %}" class="btn btn-link text-bold mr-2">Login</a>
                <a href="{% url 'articles:register' %}" class="btn btn-link">Register</a>
            </div>
        </header>
        <div class="container" style="text-align: center;">
            <form method="POST" action="">
                {% csrf_token %}

                <div class="form-group" style="margin: auto; width: 30%;">
                    <label class="form-label">Username: </label>
                    <input class="form-input" type="text" name="username" placeholder="Username...">
                    <label class="form-label">Password: </label>
                    <input class="form-input" style="margin-bottom: 10px;" type="password" name="password" placeholder="Password...">
                    <input class="btn btn-primary" type="submit" name="Login me" value="Login">
                    
                </div>
            </form>
            {% for message in messages %}
                <p> {{ message }} </p>
            {% endfor %}
        </div>
        <div class="container text-center">
            This project is still work in progress.<br> To get a glimpse you can log in as:<br>
            login: piatas<br>
            password: piatas<br>
        </div>
        <div class="container text-center">
            App that helps managing the company. It's giving the employees the ability to punch in and out. It counts theirs hours and payment. There is also an inside forum with blacklist. It's work in progress just to show basic overview. Now I am working on schedule planner and bonus system with live ranking. Future admin panel will allow forum and schedule administration as well as well as managing the bonus system. It also helps with organizing the paychecks.
        </div>
    </body>

</html>
