{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'articles/css/spectre.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'articles/css/spectre-exp.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'articles/css/spectre-icons.css' %}">
    </head>
    <body>
        <header class="bg-secondary">
            <div style="text-align: right;">
                <a href="{% url 'login' %}" class="btn btn-link mr-2">Login</a>
                <a href="{% url 'articles:register' %}" class="btn btn-link text-bold"> Register </a>
            </div>
            <section class="navbar-section">
            
            </section>
        </header>
        <div class="columns">
            <div class="column col-4 col-lg-6 col-md-8 col-sm-10 col-mx-auto">
                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="form-group" style="text-align:center">
                        <label class="form-label">{{ form.username.label }}</label>
                        {{ form.username }}
                        <label class="form-label">{{ form.email.label }}</label>
                        {{ form.email }}
                        <label class="form-label">{{ form.password1.label }}</label>
                        <input class="form-input" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                        <label class="form-label">{{ form.password2.label }} </label>
                        <input class="form-input" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
                    </div>
                    <div style="text-align: center;">
                        <input class="btn btn-primary" type="submit" name="create user" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>